/*************************GLOBAL STYLING*******************************/
body, html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.heading_general {
    font-family: 'Lato', sans-serif;
    padding-top: 4%;
    color: #fff;
    text-align: center;
    font-size: 300%;
    font-weight: 300;
}

/************************HEADER**************************************/
#navbar_custom {
    background: #000;
}

#navbar_text a {
    height: 100%;
    color: rgb(173, 173, 173);
    transition: color 0.3s;
}

#navbar_text a:hover {
    color: #fff;
}

.hero_text {
    background: #232526;
    height: 100vh;
}

.hero_heading,
.hero_body {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_heading {
    font-size: 350%;
    color: #fff;
}

.hero_body {
    font-size: 120%;
    color: #fff;
}

.navbar_image {
    width: 30px;
    height: 30px;
}

/************************HEADER END***********************************/

/***********************MAIN********************************************/
.about_us {
    height: 100vh;
    background: #1f7e7c;
}

.team_members {
    height: 100vh;
    background: #717171;
}

.progress_current {
    height: 100vh;
    background: #818181;
}

.past_sponsors {
    height: 100vh;
    background: rgb(58, 0, 0);
}

/**********************MAIN END***************************************/

/**********************FOOTER*******************************************/
footer {
    background: #232526;
    height: 10%;
}

footer h6 {
    color: #fff;
    text-align: center;
    position: relative;
    top:50%;
    transform: translate(0, -50%);
}

/**********************FOOTER END****************************************/

/**********************MEDIA QUERIES***************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero_heading {
        font-size: 250%;
    }

    .hero_body {
        font-size: 100%;
    }

    #navbar_text a {
        font-size: 80%;
    }

    .heading_general {
        font-size: 190%;
        padding-top: 15%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .heading_general {
        padding-top: 10%;
        font-size: 190%;
    }

    .hero_heading {
        font-size: 250%;
    }

    .hero_body {
        font-size: 100%;
    }

    #navbar_text a {
        font-size: 80%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .heading_general {
        padding-top: 8%;
        font-size: 190%;
    }

    .hero_heading {
        font-size: 250%;
    }

    .hero_body {
        font-size: 100%;
    }

    #navbar_text a {
        font-size: 80%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .heading_general {
        padding-top: 6%;
        font-size: 200%;
    }

    .hero_heading {
        font-size: 300%;
    }

    .hero_body {
        font-size: 100%;
    }

    #navbar_text a {
        font-size: 90%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .heading_general {
        padding-top: 4%;
        font-size: 200%;
    }

    .hero_heading {
        font-size: 300%;
    }

    .hero_body {
        font-size: 100%;
    }

    #navbar_text a {
        font-size: 90%;
    }
}
