/*************************GLOBAL STYLING*******************************/
body {
    font-family: 'Open Sans', sans-serif;
}

/************************HEADER**************************************/
#navbar_custom {
    background: #000;
}

#navbar_text a {
    height: 100%;
    color: rgb(173, 173, 173);
    transition: color 0.3s;
}

#navbar_text a:hover {
    color: #fff;
}

.hero_text {
    background: #232526;
    height: 100vh;
}

.hero_heading,
.hero_body {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_heading {
    font-size: 350%;
    color: #fff;
}

.hero_body {
    font-size: 120%;
    color: #fff;
}

/************************HEADER END***********************************/

/***********************MAIN********************************************/
.about_us {
    height: 100vh;
    background: #1f7e7c;
}

.team_members {
    height: 100vh;
    background: #717171;
}

.progress {
    height: 100vh;
    background: #818181;
}

.past_sponsors {
    height: 100vh;
    background: #000;
}

/**********************MAIN END***************************************/

/**********************FOOTER*******************************************/

/**********************FOOTER END****************************************/